
@{
    ViewBag.Title = "GetEmployeesShift";
}

<h2>GetEmployeesShift</h2>

<table class="table table-responsive table-striped">
    <tr>
        <th>EmpName</th>
        <th>1/12</th>
        <th>2/12</th>
        <th>3/12</th>
        <th>4/12</th>
        <th>5/12</th>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="ShifId" /> 
            <input type="hidden" name="EmpName" value="Ashok" />
        Ashok
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm<br />
            <input type="checkbox" name="ShifId" />6pm-9pm<br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm  <br />
            <input type="checkbox" name="ShifId" />6pm-9pm  <br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm  <br />
            <input type="checkbox" name="ShifId" />6pm-9pm  <br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm  <br />
            <input type="checkbox" name="ShifId" />6pm-9pm  <br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm <br />
            <input type="checkbox" name="ShifId" />1pm-5pm <br />
            <input type="checkbox" name="ShifId" />6pm-9pm   <br />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="ShifId" /> 
            <input type="hidden" name="EmpName" value="Ashok" />
        Sai
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm<br />
            <input type="checkbox" name="ShifId" />6pm-9pm<br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm  <br />
            <input type="checkbox" name="ShifId" />6pm-9pm  <br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm  <br />
            <input type="checkbox" name="ShifId" />6pm-9pm  <br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm<br />
            <input type="checkbox" name="ShifId" />1pm-5pm  <br />
            <input type="checkbox" name="ShifId" />6pm-9pm  <br />
        </td>
        <td>
            <input type="checkbox" name="ShifId" />9am-12pm <br />
            <input type="checkbox" name="ShifId" />1pm-5pm <br />
            <input type="checkbox" name="ShifId" />6pm-9pm   <br />
        </td>
    </tr>
</table>